/* BG star */
.bg-large-star {
    animation: stars_animStar linear infinite 50s;
    height: calc(100vh + 500px);
}

.bg-large-star {
    animation: stars_animStar linear infinite 25s;
    height: calc(100vh + 500px);
}

@keyframes stars_animStar {
    0% {
        transform: translateY(0)
    }

    to {
        transform: translateY(-500px)
    }
}

@keyframes verify-auth_tokens__b0GNw {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.title span {
    animation: 1000ms ease-out 0s 1 normal forwards running verify-auth_tokens__b0GNw;
    opacity: 0;
}

.title span+span {
    margin-left: 9px;
}

.title span:first-child, .title span:first-child:after {
    animation-delay: .4s;
}

.title span:nth-child(2), .title span:nth-child(2):after {
    animation-delay: .55s;
}

.title span:nth-child(3), .title span:nth-child(3):after {
    animation-delay: .7s;
}

.title span:nth-child(4), .title span:nth-child(4):after {
    animation-delay: .85s;
}

.title span:nth-child(5), .title span:nth-child(5):after {
    animation-delay: 1s;
}

.title span:nth-child(6), .title span:nth-child(6):after {
    animation-delay: 1.15s;
}

@keyframes text_background_appear {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.title span::after {
    display: block;
    content: " ";
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    border-radius: 5px;
    opacity: 0;
    background-color: #fff;
    animation: text_background_appear .5s ease-out forwards;
}

/* BG star end -------------------- */